.form-group label{
color: #ffffff;
}
form{
    width: 60%;
    display: inline-block;
}
.centerer{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.form-check{
    color: #ffffff;
    width: 70px;
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
}
.form-control,
.form-control:focus{
background-color: #121212;
border-radius: 0px;
border-bottom: 2px solid #0090C5 !important;
border-top: none;
border-left: none;
border-right: none;
color: white;
box-shadow: inset 0 -1px 0 #121212;
}
.centerer{
    margin-top: 30px;
}
.form-check input[type="radio"]:checked:before{
    border-color: #0090C5;
    background-color: #0090C5;
}
.abtn{
    display: block;
    margin: auto auto;
    margin-top: 20px;
    color: #ffffff;
    background-color: #0090C5;
    border-radius: 8px;
}
.abtn2{
    display: block;
    margin: auto auto;
    color: #ffffff;
    background-color: #0090C5;
    border-radius: 8px;
}
body{
    scroll-behavior: smooth;
}
.row1{
    color: white;
    margin-bottom: 30px;
}