#maincontent{
    text-align: center;
}
.title{
    margin-top: 30px;
}
.tiles{
    display: inline-block;
    width: 80%;
    text-align: center;
}
.eachTile{
    float: left;
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    text-align: center;
}
.deets{
    float: left;
    color: white;
    margin-top: 30px;
    padding-left: 15px;
}
.cor-circle{
    float: left;
    text-align: left;
}
.cor-circle img{
    height: 150px !important;

}
.divider{
    float: left;
    display: inline-block;
    padding-left: 110px;
}
.eachDeet{
    margin-bottom: 20px;
    text-align: left;
}

@media (max-width: 768px){
    .eachTile{
        padding-left: 0px;
    }
    .divider{
        float: none;
        padding-left: 0px;
    }
}